<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
    hello,SpringBoot!<br/>
    <!--字符串拼接-->
    <span th:text="欢迎+${username}">小腾哥</span><br/>
    <span th:text="|欢迎,${username}|">小腾哥</span><br/>
    <span th:text="${user.username}">ls</span><br/>
    <hr/>

    <table border="1" cellspacing="0">
        <tr>
            <th>ID</th>
            <th>NAME</th>
            <th>PASSWORD</th>
        </tr>
        <tr th:each="user : ${list}">
            <td th:text="${user.id}"></td>
            <td th:text="${user.username}"></td>
            <td th:text="${user.password}"></td>
        </tr>
    </table>

    <hr/>
    <span th:text="${age} >= 18 ? '成年' : '未成年'"></span><br/>
    <span th:if="${age} >= 18" th:text="成年">未成年</span><br/>
    <input type="text" th:value="${#dates.format(birthday,'yyyy-MM-dd HH:mm:ss')}"/><br/>
    <input type="radio" th:if="${sex==1}" th:checked="checked"/>男
</body>
</html>